@model commerce.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome, username</h1>


<div class="jumbotron">
    <div class="row ">
        <div class="col-12 col-lg-4 col-md-2  ml-lg-auto homeCard">
            <div class="card text-white bg-info mb-3 d-flex ">
                <div class="card-header">@Html.DisplayNameFor(model => model.CustomersCount)</div>
                <div class="card-body text-center">
                    <h5 class="card-title">We have:</h5>
                    <p class="card-text">
                        @Html.ActionLink(Model.CustomersCount + " " + Html.DisplayNameFor(model => model.CustomersCount), "Index", new { controller = "Customers" },
                        htmlAttributes: new { @class = "  btn btn-info text-nowrap" })
                    </p>

                </div>

            </div>
        </div>

        <div class="col-12 col-lg-4  col-md-2 homeCard">
            <div class="card text-white bg-primary mb-3 d-flex  ">
                <div class="card-header">@Html.DisplayNameFor(model => model.ProductsCount)</div>

                <div class="card-body text-center">
                    <h5 class="card-title ">We have:</h5>
                    <p class="card-text">
                        @Html.ActionLink(Model.ProductsCount + " " + Html.DisplayNameFor(model => model.ProductsCount), "Index", new { controller = "Customers" },
                            htmlAttributes: new { @class = "  btn btn-primary text-nowrap" })
                    </p>

                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4 col-md-2 homeCard mr-lg-auto">

            <div class="card text-white bg-success mb-3 d-flex ">
                <div class="card-header">
                    @Html.DisplayNameFor(model => model.CategoriesCount).
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">We have:</h5>
                    <p class="card-text">

                        @Html.ActionLink(Model.CategoriesCount + " " + Html.DisplayNameFor(model => model.CategoriesCount), "Index", new { controller = "Customers" },
                            htmlAttributes: new { @class = "  btn btn-success text-nowrap" })
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6  col-md-2 ml-lg-auto homeCard">

            <div class="card text-white bg-danger mb-3 d-flex ">
                <div class="card-header">@Html.DisplayNameFor(model => model.OrdersCount)</div>
                <div class="card-body text-center">
                    <h5 class="card-title">We have:</h5>
                    <p class="card-text">
                        @Html.ActionLink(Model.OrdersCount + " " + Html.DisplayNameFor(model => model.OrdersCount), "Index", new { controller = "Customers" },
                            htmlAttributes: new { @class = "  btn btn-danger text-nowrap" })
                    </p>
                </div>
            </div>
        </div>


        <div class="col-12 col-lg-6 col-md-2 mr-lg-auto homeCard">

            <div class="card text-white bg-dark mb-3 d-flex ">
                <div class="card-header">@Html.DisplayNameFor(model => model.CouponsCount)</div>

                <div class="card-body text-center">
                    <h5 class="card-title">We have:</h5>
                    <p class="card-text">
                        @Html.ActionLink(Model.CouponsCount + " " + Html.DisplayNameFor(model => model.CouponsCount), "Index", new { controller = "Customers" },
                            htmlAttributes: new { @class = "  btn btn-dark text-nowrap" })
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>

        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>